<!-- <div class="container">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
</div> -->
<div class="bootstrap-wrapper">
    <form>
        <div class="row align-items-center">
                <div class="card" style="border-radius: 10px;align-items: center;">
                    <div class="card-body">
                  
                <div class="center">
                    <img src="../../assets/logo.png" width="30%" alt="">
                </div>
                <h1 class="center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: coral;">Home Page</h1>

                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="username"name="username" placeholder="User Name" required>
        <br>
                <label for="password" class="form-label">Password</label>
                <input type="password" required class="form-control" id="password" name="password" placeholder="Password" required>
                <br>
                <div class="center" style="margin-top: 10px;">
                    <button type="submit" class="btn btn-outline-success" style="margin-right:5px;">Login</button>
                    <button type="submit" class="btn btn-outline-danger">Reset</button>
                </div>
            </div>
            </div>
            </div>
    </form>
</div>

