<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; width: 100%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="width: 30%;"><img src="../../../assets/logo2-removebg-preview.png" width="30%" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">

        <ul class="navbar-nav" style="font-size: 25px; padding-left: 530px;">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/login'">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="'/signup'" >Register</a>
          </li>
        </ul>
        <!-- <form style="float: inline-end;" >
       <a class="btn btn-outline-light" [routerLink]="'/login'" type="submit">login</a>
       <a class="btn btn-outline-light" [routerLink]="'/signup'" type="submit">Register</a>
       
        </form> -->
      </div>
      <!-- <form style="float: inline-end;" >
        <a class="btn btn-outline-light" [routerLink]="'/login'" type="submit">login</a>
        <a class="btn btn-outline-light" [routerLink]="'/signup'" type="submit">Register</a>
        
         </form> -->
      
    </div>
  </nav>